# Dependencies
node_modules/

# Android Secrets & Build Artifacts
android/app/google-services.json
android/app/build/
android/.gradle/
android/local.properties
*.keystore
*.jks

# OS Junk
.DS_Store
Thumbs.db
